/*
  Name: Max Beard
  Date: February 10, 2022
  Section: AF Marina Wooden & Ludvig Liljenberg
  This is the styles.css page used by index.html of the About Me 2.0 project.
  It has a blue, red, and yellow color scheme and sans serif font to look clean and easy to read
*/
body {
  background-color: #18377a;
  color: #fffec8;
  font-family: 'Roboto Mono', monospace;
}

#content {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
  padding-top: 10px;
}

hr {
  border: 3px solid #6c3354;
  border-radius: 5px;
  width: 70%;
}

img {
  width: 250px;
  height: auto;
  padding-left: 10px;
}

h1 {
  text-align: center;
  color: #fcc319;
}

.hidden {
  display: none;
}